.App {
  text-align: center;
}

.sign-out-container {
  text-align: right;
  margin: 15px;
  margin-right: 25px;
}

.sign-out-button {
  border: none;
  background-color: white;
  font-size: 16px;
  color: #ECA869;
}

.greeting {
  color: #ECA869;
  text-align: left;
  margin-top: 5%;
  margin-bottom: 50px;
  margin-left: 15%;
  font-size: 45px;
  filter: drop-shadow(2px 2px 2px #D3D3D3);
}

.bucket-lists {
  margin: auto;
  width: 500px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.bucket-lists::-webkit-scrollbar {
  display: none;
}

.bucket-list-header {
  color: #d3d3d3;
  margin: 25px;
}

.bucket-list-container {
  margin-top: 1%;
  margin-right: 10%;
  margin-left: 10%;
  background-color: #F5F5DC;
  display: inline-block;
  width: 400px;
  height: 300px;
  border-radius: 20px;
  border: none;
}

.bucket-list-name {
  color: #ECA869;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}